<style>
    /*  COLOR SCHEME  AQUA GREEN: #00BFCD   rgb(0, 191,205) Purple: #722166 Light Grey: #CECECF Grey: #B2B2B2   Typography  H2 #00BFCD  font-family: 'Open Sans', sans-serif;   */
    /*********************************************************************************************************/
    /* Elements*/
    /*********************************************************************************************************/
    
    body {
        background: #FFF;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        padding: 0;
        letter-spacing: 0px;
        font-weight: 300;
        color: #3c3c3c;
    }
    h2,
    h3 {
        color: #00BFCD;
        font-weight: 300;
        font-size: 34px;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 0px;
        margin-bottom: 0px;
        margin-top: 0px
    }
    a.button-grey {
        padding: 5px;
        width: 250px;
        color: #FFF;
        background: #B2B2B2;
        border: 2px solid #FFF;
        outline: 2px solid #B2B2B2;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        letter-spacing: 0px
    }
    p {
        line-height: 1.75em;
        margin-top: 0px
    }
    .mobile-visible {
        display: none !important;
    }
    .mobile-image {
        display: none;
    }
    img {
        max-width: 100%;
    }
    :target:before {
        content: "";
        display: block;
        height: 50px;
        /* fixed header height*/
        
        margin: -50px 0 0;
        /* negative fixed header height */
    }
    .mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
        background-color: #722166 !important;
        background-image: none !important;
        border: 0px !important
    }
    /*********************************************************************************************************/
    /*Containers*/
    /*********************************************************************************************************/
    
    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 0px;
        height: 0;
        overflow: hidden;
        max-width: 100%;
        height: auto;
    }
    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .mktoOffset {
        height: 0px !important
    }
    .t-panel .p-inner {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
    }
    #main-content .p-inner {
        max-width: none;
        width: 100%;
        margin: 0;
    }
    .item-group {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
    }
    /*********************************************************************************************************/
    /*Panels*/
    /*********************************************************************************************************/
    
    #super-header {
        background: rgba(255, 255, 255, 0.9);
        min-height: 50px;
        position: fixed;
        width: 100%;
        z-index: 99;
        top: 0;
    }
    #header {
        position: relative;
        margin-top: -6.5%;
    }
    #main-content {} #footer {
        background: rgba(0, 191, 205, .3);
    }
    /*********************************************************************************************************/
    /*Header*/
    /*********************************************************************************************************/
    
    #header img.clear-spacer {
        opacity: 0;
    }
    #logo {
        display: inline-block;
        padding-top: 10px;
    }
    #logo img {
        max-width: 200px;
        width: 100%;
    }
    #navigation {
        float: right;
        display: inline-block;
    }
    #navigation li {
        float: left;
        list-style: none;
        border-right: 1px solid #722166;
    }
    #navigation li a {
        color: #722166;
        padding: 0 15px;
        font-size: 16px;
        text-decoration: none;
    }
    #navigation li.last {
        border: none;
    }
    .slicknav_menu {
        display: none;
    }
    /*********************************************************************************************************/
    /*Page Content*/
    /*********************************************************************************************************/
    
    .row-divider {
        display: table;
        margin-bottom: -7px;
    }
    .row-divider img {
        width: 100%;
        max-width: 100%;
        margin-bottom: -7px;
    }
    .divider-label {
        font-size: 82px;
        color: #FFF;
        text-align: center;
        letter-spacing: .5em;
        position: relative;
    }
    .divider-label span {
        line-height: 1px;
        display: block;
    }
    #row0.row-divider {
        position: absolute;
        top: 20%;
        left: 0;
    }
    #row0.row-divider img {} #row2.row-divider {
        background: url('https://info.thoughtworks.com/rs/199-QDE-291/images/process.jpg');
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
    #row4.row-divider {
        background: url('https://info.thoughtworks.com/rs/199-QDE-291/images/locations.jpg');
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
    #row6.row-divider {
        background: url('https://info.thoughtworks.com/rs/199-QDE-291/images/speakers.jpg');
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
    /*********************************************************************************************************/
    /* Items*/
    /*********************************************************************************************************/
    
    .fullscreen-bg {
        z-index: -500;
        position: relative;
        padding-top: 56%;
    }
    .fullscreen-bg__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    #purple-block {
        background: #722166;
        color: #FFF;
        padding: 15px;
    }
    #purple-block .purple-block-header {
        color: white;
        text-align: center;
    }
    #purple-block h2 {
        border-bottom: #FFF solid 3px;
        color: #FFF;
        margin: 0;
        padding: 5px 0 15px 0;
    }
    #purple-block .column {
        display: inline-block;
        width: 24%;
        vertical-align: top;
    }
    #purple-block .column p {
        padding: 0 20px 20px 20px;
        text-align: center;
    }
    #registration-block {
        text-align: center;
        margin-top: 15px;
    }
    #registration-block h2 {
        margin-bottom: 10px;
    }
    #registration-block > div div {
        display: inline-block;
        text-align: center;
    }
    #registration-block a.button-grey {
        margin: 3px;
    }
    #row3 .item-group {
        position: relative;
    }
    #logo-array-block .i-inner > span {
        margin: 15px 0;
        display: inline-block;
    }
    #logo-array-block {
        position: absolute;
        top: -150px;
        right: 0;
        text-align: center;
    }
    #church-block {
        margin: 50px 0 10px 0;
    }
    #church-block img {
        width: 1000px;
    }
    #img-text-50 {
        margin: 15px 0;
    }
    #row5 #img-text-50 .collumn {
        width: 49%;
        display: inline-block;
        vertical-align: top
    }
    #row5 #img-text-50 .collumn > div {
        margin: 0 20px;
        overflow: hidden;
    }
    .bios .column > div {
        margin: 10px;
    }
    .bios img {
        max-width: 425px;
        width: 100%;
    }
    #bio1 > div > div {
        display: inline-block;
        vertical-align: top;
    }
    #bio1 .column.first {
        width: 39%;
    }
    #bio1 .column.last {
        width: 59%;
    }
    #bio2 > div > div {
        display: inline-block;
        vertical-align: top;
    }
    #bio2 .column.first {
        width: 59%;
    }
    #bio2 .column.last {
        width: 39%;
    }
    #see-more-bio > div {
        background: url('https://info.thoughtworks.com/rs/199-QDE-291/images/aqua-dot.png') repeat-x center center;
        text-align: center;
        margin: 20px 0 40px 0;
    }
    #see-more-bio span {
        background: #FFF;
        color: #00BFCD;
        font-size: 14px;
        padding: 0 10px;
    }
    #see-more-bio a {
        text-decoration: none;
    }
    #bios3 {
        margin: 0 0 20px 0;
        display: none;
    }
    #bios3 .bios2 {
        width: 24%;
        display: inline-block;
        overflow: none;
    }
    #bios3 .bios2 > div {
        padding: 10px;
    }
    #bios3 .bios2 span {
        display: block;
        margin: 4px 0;
    }
    #bios3 .bio-header {
        color: #00BFCD;
    }
    #mktoForm_3660 {
        margin: 0 auto;
        padding-top: 50px;
        width: 80% !important
    }
    #mktoForm_4393 {
        margin: 0 auto;
        padding-top: 50px;
        width: 80% !important
    }
    .mktFormSelect,
    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"],
    input[type="url"] {
        background-color: #ebebeb !important;
        border-bottom: 2px solid #d7d7d7 !important;
        border-radius: 0 !important;
        border-width: 0 0 2px !important;
        box-shadow: 0 0 1px #d7d7d7 inset;
        box-sizing: border-box !important;
        color: #666666 !important;
        display: inline-block !important;
        font-size: 18px !important;
        height: 2.4em;
        margin-bottom: 5px !important;
        padding: 5px 15px !important;
        transition: all 0.2s ease-out 0s;
    }
    /*********************************************************************************************************/
    /*Footer*/
    /*********************************************************************************************************/
    
    #footer >div {} #agenda-block {
        padding: 30px 0;
    }
    #agenda-block .agenda-header {
        text-align: center;
    }
    #agenda-block .agenda-date {
        text-align: center;
        border-bottom: 3px solid #00BFCD;
        padding: 15px 0;
        font-style: italic;
    }
    #agenda-block .agenda-time-place {
        border-bottom: 1px solid #00BFCD;
        padding: 15px 0;
    }
    #agenda-block span {
        width: 70%;
        display: inline-block;
        vertical-align: top;
    }
    #agenda-block span.time {
        width: 20%;
        min-width: 100px;
        max-width: 120px;
        font-weight: bold;
        display: inline-block;
    }
    #agenda-block .agenda-footer {
        text-align: center;
        padding: 15px 0 0px 0;
    }
    /*********************************************************************************************************/
    /*Media Queries*/
    /*********************************************************************************************************/
    
    @media (min-width: 1026px) and (max-width: 1200px) {
        .divider-label {
            font-size: 52px;
        }
    }
    @media (min-width: 768px) and (max-width: 1025px) {
        .t-panel .p-inner {
            max-width: 1000px;
            width: 100%;
            margin: 0 auto;
        }
        #main-content .p-inner {
            max-width: none;
            width: 100%;
            margin: 0;
        }
        .item-group {
            max-width: 1000px;
            width: 100%;
            margin: 0 auto;
        }
        .item {
            padding: 0 20px;
        }
        .divider-label {
            font-size: 52px;
        }
        #main-menu {
            display: none;
        }
        .slicknav_menu {
            display: block;
        }
        #logo {
            position: absolute;
            top: 5px;
            left: 15px;
        }
        div.slicknav_menu {
            background: #CECECF;
        }
        #logo-array-block {
            position: static;
        }
        #church-block {
            text-align: center;
        }
        #church-block img {
            max-width: 80%;
            padding: 20px 0;
        }
        #footer >div {
            padding: 0 20px;
            width: auto;
        }
    }
    @media all and (min-width: 481px) and (max-width: 767px) {
        #container {
            overflow: hidden;
        }
        .mobile-image {
            display: block;
        }
        .desktop-image {
            display: none;
        }
        #header video {
            display: none;
        }
        #header {
            margin: 50px 0 0 0;
        }
        .fullscreen-bg {
            display: none;
        }
        .divider-label {
            font-size: 32px;
        }
        .row-divider img.top {
            margin-bottom: 10px;
        }
        .row-divider img.bottom {
            margin-top: 10px;
        }
        .t-panel .p-inner {
            max-width: 1000px;
            width: 100%;
            margin: 0 auto;
        }
        #main-content .p-inner {
            max-width: none;
            width: 100%;
            margin: 0;
        }
        .item-group {
            max-width: 1000px;
            width: 100%;
            margin: 0 auto;
        }
        #main-menu {
            display: none;
        }
        .slicknav_menu {
            display: block;
        }
        #logo {
            position: absolute;
            top: 5px;
            left: 15px;
        }
        div.slicknav_menu {
            background: #CECECF;
        }
        .item {
            padding: 0 20px;
        }
        #purple-block .column {
            width: 100%;
        }
        #purple-block .column p {
            padding: 0;
        }
        #registration-block a.button-grey {
            margin-bottom: 10px;
        }
        #church-block img {
            max-width: 100%;
        }
        #logo-array-block {
            position: static;
            margin-top: 20px;
        }
        #row5 #img-text-50 {
            width: 100%;
            padding: 20px 0;
        }
        #row5 #img-text-50 .collumn {
            width: 100%;
            padding: 0;
            margin: 0;
        }
        .bios .column {
            width: 100% !important;
            margin: 15px 0;
        }
        .bios .column > div {
            margin: 0;
        }
        #church-block {
            text-align: center;
        }
        #church-block img {} .desktop-visible {
            display: none !important;
        }
        .mobile-visible {
            display: block !important;
        }
        #footer >div {
            padding: 0 20px;
            width: auto;
        }
    }
    @media (max-width: 568px) {
        #main-menu {
            display: none;
        }
        .mobile-image {
            display: block;
        }
        .desktop-image {
            display: none;
        }
        #header video {
            display: none;
        }
        #header {
            margin: 50px 0 0 0;
        }
        .fullscreen-bg {
            display: none;
        }
        #church-block img {
            max-width: 100%;
        }
        .slicknav_menu {
            display: block;
        }
        #church-block {
            padding: 0 !important;
        }
        #logo {
            position: absolute;
            top: 5px;
            left: 15px;
        }
        div.slicknav_menu {
            background: #CECECF;
        }
        #row2.row-divider,
        #row4.row-divider,
        #row6.row-divider {
            background-attachment: scroll !important;
        }
    }
    @media only screen and (min-width: 381px) and (max-width: 481px) {
        .t-panel .p-inner {
            max-width: 481px;
        }
        #container {
            overflow: hidden;
        }
        #main-content .p-inner {
            max-width: none;
            width: 100%;
            margin: 0;
        }
        .item-group {
            max-width: 1000px;
            width: 100%;
            margin: 0 auto;
        }
        .divider-label {
            font-size: 30px;
        }
        .row-divider img.top {
            margin-bottom: 10px;
        }
        .row-divider img.bottom {
            margin-top: 10px;
        }
        #main-menu {
            display: none;
        }
        .slicknav_menu {
            display: block;
        }
        #logo {
            position: absolute;
            top: 5px;
            left: 15px;
        }
        div.slicknav_menu {
            background: #CECECF;
        }
        .item {
            padding: 0 20px;
        }
        #purple-block .column {
            width: 100%;
        }
        #purple-block .column p {
            padding: 0;
        }
        #registration-block a.button-grey {
            margin-bottom: 10px;
        }
        #logo-array-block {
            position: static;
            margin-top: 20px;
        }
        #row5 #img-text-50 {
            width: 100%;
            padding: 20px 0;
        }
        #row5 #img-text-50 .collumn {
            width: 100%;
            padding: 0;
            margin: 0;
        }
        .bios .column {
            width: 100% !important;
            margin: 15px 0;
        }
        .bios .column > div {
            margin: 0;
        }
        #church-block {
            text-align: center;
        }
        #church-block img {
            max-width: 100%;
        }
        .desktop-visible {
            display: none !important;
        }
        .mobile-visible {
            display: block !important;
        }
        #footer >div {
            padding: 0 20px;
            width: auto;
        }
    }
    @media (max-width: 380px) {
        #container {
            overflow: hidden;
            min-width: 280px;
        }
        .t-panel .p-inner {
            max-width: 1000px;
            width: 100%;
            margin: 0 auto;
        }
        #super-header {} #main-content .p-inner {
            max-width: none;
            width: 100%;
            margin: 0;
        }
        .item-group {
            max-width: 1000px;
            width: 100%;
            margin: 0 auto;
        }
        .divider-label {
            font-size: 30px;
        }
        .row-divider img.top {
            margin-bottom: 10px;
        }
        .row-divider img.bottom {
            margin-top: 10px;
        }
        #main-menu {
            display: none;
        }
        .slicknav_menu {
            display: block;
            position: relative;
        }
        .slicknav_menutxt {
            display: none !important;
        }
        .slicknav_icon {
            margin: 0 !important;
        }
        #logo {
            position: absolute;
            top: 0;
        }
        div.slicknav_menu {
            background: #CECECF;
            display: block;
            float: none;
        }
        .item {
            padding: 0 20px;
        }
        #purple-block .column {
            width: 100%;
        }
        #purple-block .column p {
            padding: 0;
        }
        #registration-block a.button-grey {
            margin-bottom: 10px;
        }
        #logo-array-block {
            position: static;
            margin-top: 20px;
        }
        #row5 #img-text-50 {
            width: 100%;
            padding: 20px 0;
        }
        #row5 #img-text-50 .collumn {
            width: 100%;
            padding: 0;
            margin: 0;
        }
        .bios .column {
            width: 100% !important;
            margin: 15px 0;
        }
        .bios .column > div {
            margin: 0;
        }
        #church-block {
            text-align: center;
        }
        #church-block {
            padding: 0 !important;
        }
        #church-block img {
            max-width: 100%;
        }
        .desktop-visible {
            display: none !important;
        }
        .mobile-visible {
            display: block !important;
        }
        #footer >div {
            padding: 0 20px;
            width: auto;
        }
        #agenda-block span {
            width: 60%;
        }
        #agenda-block span.time {
            width: 20%;
        }
    }