
.agenda{
    color: #fff;
    line-height: 1em;
    padding: 40px 0 60px;
    .agenda-header {
        text-align: center;
        text-transform: uppercase;
    }
    .divider{
        width:10%;
        height:1px;
        background: #fff;
        text-align:center;
        margin: 0 auto;
    }
    .agenda-day {
        text-align: center;
        padding: 15px 0 30px;
        font-style: italic;
        }
    .agenda-time-place {
        border-bottom: 1px solid #464646;
        padding: 15px 0;
        display: flex;
        width: 350px;
        margin: 0 auto;
    }

    span {
        width: 70%;
        display: inline-block;
        vertical-align: top;
    }

    span.time {
        font-weight: bold;
        width: 90px;
    }
    .agenda-footer {
        text-align: center;
        padding: 15px 0 0px 0;
    }

}